@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
}

header{
    background-image: linear-gradient(lightblue, white);
    box-sizing: border-box;
    font-family: "Indie Flower", Helvetica, sans-serif;
    font-size: 46px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100vw;
}

h1{
    text-shadow: 3px 2px lightgrey;
}

#tela-inicial{
    background-color: white;
    left: 42%;
    position: absolute;
    top: 35%;
}

button.iniciar-jogo, button.nova-palavra{
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    display: block;
    font-size: 24px;
    height: 80px;
    letter-spacing: 5px;
    margin: 20px;
    text-transform: uppercase;
    width: 200px;
}

button.iniciar-jogo:hover, button.nova-palavra:hover{
    background-color: lightblue;
    color: black;
    font-weight: 700;
    transition: 800ms;
}

#area-jogo{
    display: none;
    left: 24%;
    position: absolute;
    top: 23.2%;
}

#voltar-menu{
    background-color: white;
    display: none;
    left: 52%;
    position: absolute;
    top: 58%;
}

button.voltar-menu{
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    display: block;
    font-size: 16px;
    height: 30px;
    letter-spacing: 5px;
    margin: 5px;
    text-transform: uppercase;
    width: 300px;
}

button.voltar-menu:hover, button#enviar-form:hover{
    background-color: lightblue;
    color: black;
    font-weight: 700;
    transition: 800ms;
}

#formulario{
    display: none;
    height: 200px;
    left: 530px;
    position: relative;
    top: 250px;
    width: 400px;
}

form {
    display: inline-block;
    position: relative;
    text-align: right;
}

legend{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.palavra, .dica{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    position: relative;
}

#palavra{
    left: 10px;
}

#dica{
    left: 10px;
}

button#enviar-form{
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    height: 30px;
    letter-spacing: 5px;
    margin: 30px;
    text-transform: uppercase;
    width: 100px;
}

footer{
    background-image: linear-gradient(to top, lightblue, white);
    bottom: 0px;    
    box-sizing: border-box;
    font-size: 18px;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100vw;
}
